<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="DbProviderFactories" type="System.Data.Common.DbProviderFactoriesConfigurationHandler, System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
	</configSections>
	<connectionStrings>
		<!--主数据库连接-->
		<add name="DbConn" 
			 connectionString="Data Source=127.0.0.1;Initial Catalog=DoctorStation;Trust Server Certificate=true;Integrated Security=true" 
			 providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<DbProviderFactories>
		<add name="SqlClient Data Provider" invariant="System.Data.SqlClient" description=".Net Framework Data Provider for SqlServer" type="System.Data.SqlClient.SqlClientFactory, System.Data.SqlClient"/>
	</DbProviderFactories>
</configuration>